.RecoveyMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .return{
      position: absolute;
        top: 3%;
        left: 2%;
    }  
  
  .RecoveyBox {
    background-color: rgba(255, 255, 255, 0.795);
    padding: 20px;
    border-radius: 15px;
    h1 {
      text-align: center;
      margin: 10px;
    }
    form {
      label {
        margin-left: 13px;
        font-weight: 300;
      }
    
      input {
        text-align: center;
        padding: 10px;
        border-radius: 15px;
        width: 90%;
        border: none;
        display: block;
        background-color: #ffffffa2;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.212);
        margin-bottom: 10px;
        transition: 1s;
    
        &:hover {
          transition: 1s;
          background-color: #fff;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.466);
        }
      }

      button {
        background-color: black;
        color:white;
        padding: 7px;
        width: 100%;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        font-weight: 500;
        font-size: 1.2em;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.596);
        transition: 1s;
          &:hover {
            transition: 1s;
            background-color: white;
            color:black; 
          } 
      }
    }
  }
}

#res {
  width: 50vw;
  position: absolute;
  max-width: 300px;
  text-align: center;
  background-color: white;
  padding: 20px;
  top: 3%;
  left: -100vw;
  border-radius: 15px;
  box-shadow: 0px 0px 20px white;
  font-weight: bold;
} 

.play {
  animation: pop 0.5s forwards;
}

@keyframes pop {
  0% {
    left: -70%;
  }
  100% {
    left: 3%;
  }
}