.most {
    display:flex;
      overflow-x: scroll;
      margin-bottom: 40px;
      
      &::-webkit-scrollbar {
        background-color: rgb(48, 48, 48,0.2);
        border-radius: 40px;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(71, 71, 71,0.2);
        border-radius: 40px;
      }
    a{
   
        img {
         
           border-radius: 30px;
           width: 15vw;
           margin: 3px;
        
        
        }
      
    }
}