@import '../../sass/variables';

body {
  background-color: $primaryColor;
}

.all {
  img {
    width: 100%;
  }
}

.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box {
  background-color: #ffffffc5;
  width: 50vw;
  max-width: 250px;
  max-height: 300px;
  height: 50vh;
  border-radius: 30px;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0px 0px 20px $secondaryColor;

  h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: $bigFont;
    text-align: center;
  }

  label {
    margin-left: 13px;
    font-weight: $smallFont;
  }

  input {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
    border: none;
    display: block;
    background-color: #ffffffa2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.212);
    margin-bottom: 10px;
    transition: 1s;

    &:hover {
      transition: 1s;
      background-color: #fff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.466);
    }
  }

  .showpass {
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      top: 53%;
      left: 85%;
      width: 20px;
    }

  
  }

  button {
    background-color: $primaryColor;
    color:$secondaryColor;
    padding: 7px;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    font-weight: $bigFont;
    font-size: 1.2em;
    transition: 1s;
      &:hover {
        transition: 1s;
        background-color: $secondaryColor;
        color:$primaryColor; 
      } 
  }

  .op {
    display: flex;
    font-size: 0.7em;
    font-weight: $smallFont;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    margin-top:4px;
    a {
      text-decoration: none;
      color: $primaryColor;
    }
  }
}


.error {
  color: red;
}

.sucess {
  color: green;
}

#res {
  width: 50vw;
  position: absolute;
  max-width: 300px;
  text-align: center;
  background-color: $secondaryColor;
  padding: 20px;
  top: 3%;
  left: -100vw;
  border-radius: 15px;
  box-shadow: 0px 0px 20px $secondaryColor;
  font-weight: $bigFont;
} 

.play {
  animation: pop 0.5s forwards;
}

.logo {
  display: block;
  width: 7%;
  max-width: 50px;
  margin: auto;
}

@keyframes pop {
  0% {
    left: -70%;
  }
  100% {
    left: 3%;
  }
}