body {
  overflow-x: hidden;
}

.top {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  
  .head {
    
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    // TODOS OS INPUTS
    .g {
      z-index: 1;
      margin: 25px 10px;
    }

    .uu {
        
      width: 14%;
    }

    .oo {
      width: 13%;
      cursor: pointer;
    }

    .pp {
      width: 16%;
      cursor: pointer;
    }
    // -------------------

    .search {
        border: none ;
        border-radius: 7px;
        height: 4vh;
        text-align: center;
        box-shadow: 0px 0px 20px white;
    }
    .sear {
        transition: 1s;
        display: none;
    }
  }
  .corp{
    width: 80%;
      .view{
        
        h2 {
            color: white;
            font-size: 1.5em;
        }
        
        }
          
      }
  }
