.mainPlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    .seta {
        z-index: 1;
        position: absolute;
        top: 3%;
        left: 2%;
    }  
    iframe {
        width: 70vw;
        height: 80vh;
        border: none;
    }
}
